/*Logo*/
.navbar img {
  width: 180px;
  z-index: 50;
}
/*Menu Principal*/
.navbar {
  background:paleturquoise;
}

.navbar-nav {
  margin-left: 100px;
  margin: 0px 0px 0px 10px;
  margin-top: 1px;
}

.nav-item {
  color: red;
}
.dropdown-menu {
  background: whitesmoke;
}

.navbar .form-control .Search:hover {
  border-color: red;
}

.navbar input:hover .navbar a:active {
  border-radius: 10px;
  background: red;
  color: red;
}
.navbar .nav-item a:hover {
  border-radius: 10px;
  background: red;
  margin: auto;
  padding: auto;
}

.navbar .btn {
  border-color: red;
  color: black;
}
.navbar .btn:hover {
  border-color: black;
  background: red;
}












.pon{
  background-image: url(../img/Secretaria-5.jpg);
background-attachment: fixed;
  background-size:100%;
  height: 600px;

}

@media screen and (max-width: 700px){
  .pon {
    position: relative;
    background-image: url(../img/jjjjj1-100.jpg);
    background-attachment: fixed;
    background-size: 100%;
    height: 600px;
  }
}


    @media screen and (max-width:1100px){
      .pon {
        position: relative;
        background-image: url(../img/jjjjj1-100.jpg);
        background-attachment: fixed;
        background-size: 132%;
      
      }

      }



.pon h5 {
position: relative;
top: 150px;
left: 4px;
}

.pon .jumbotron {
background:rgba(0,0,0,0.4);
position: relative;
height: 600px;

} 












 /*mapa*/

 .map-container-section {
  
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {

  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}


.card-image{
height: 260px;

}


.col-lg-7 .row .icon-phone{
  margin-bottom: 10px;
  color: #ffb100;
  font-size: 40px;
  border-radius: 100px;
  padding: 15px;
  box-shadow: 0px 0px 10px 0px black;

}


.col-lg-7 .row .icon-location{
  margin-bottom: 10px;
  color: #ffb100;
  font-size: 40px;
  border-radius: 100px;
  padding: 15px;
  box-shadow: 0px 0px 10px 0px black;
  
  }


  .col-lg-7 .row .icon-mail{
    margin-bottom: 10px;
    color: #ffb100;
    font-size: 40px;
    border-radius: 100px;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px black;
    
    
    
    }
    
  




















.col-lg-5 .btn:focus {
border-color: #ffb100;
box-shadow: #ffb100;
border: 1px solid #ffb100;
}

/*Contacto inputs*/
.md-form input[type=text]:focus:not([readonly]) {
border: 1px solid #ffb100;
box-shadow: 0 0 0 1px #ffb100;
}
.md-form textarea[type=text]:focus:not([readonly]) {
border: 1px solid #ffb100;
box-shadow: 0 0 0 1px #ffb100;
}












/*Contacto*/
.my-5 {
width: 96%;


}
.form-header .icon-envelope {
font-size: 40px;
background: #ffb100;
color: white;
padding: 20px 20px;
border-radius: 50px;


}

.form-header h3 {
font-size: 50px;
}


.card .md-form .icon-user {
font-size: 15px;
background: #ffb100;
color: white;
padding: 5px 5px;
border-radius: 30px;
margin-bottom: 4px;

}

.card .md-form .icon-mail {
 
  font-size: 15px;
  background: #ffb100;
  color: white;
  padding: 5px 5px;
  border-radius: 30px;
  margin-bottom: 4px;
  
  }

  .card .md-form .icon-phone {
    font-size: 15px;
    background: #ffb100;
    color: white;
    padding: 5px 5px;
    border-radius: 30px;
    margin-bottom: 4px;
    
    }


    .card  .md-form .icon-pencil {
      font-size: 15px;
      background: #ffb100;
      color: white;
      padding: 5px 5px;
      border-radius: 30px;
      margin-bottom: 4px;
      margin-top: 30px;
      
      }



      .col-lg-5 .btn {
        border: 1px solid#ffb100;
        color: black;
        
        }
        
        
        .col-lg-5 .btn:hover {
        transition: 0.3 seg;
        background: #ffb100;
        color: white;
        box-shadow: 0px 0px 5px 0px black;
        
        }
        .col-lg-5 .btn:hover a{
        
        
        color: white;
        
        }



































/*footer*/

.footer {
  position: relative;
  width: 100%;
  
  }
  .footer1{
    position: relative;
  
  }
  
  .footer2{
    position: relative;
    margin-top: 50px;
  }
  
  
  .footer3{
    position: relative;
    margin-top: 50px;
  }
  
  .footer2-cont {
    position: relative;
    margin-top: 50px;
  }
  
  .card-img{
  position: relative;
  
  }
  
  .footer3-cont {
    position: relative;
    margin-top: 40px;
  }
  
  .footer-copyright {
    background: black;
    color: white;
  }
  
  .footer2-cont a {
    text-decoration: none;
    color: rgb(212, 199, 199);
  }
  .footer1-cont  p {
    text-decoration: none;
    color: rgb(212, 199, 199);
  }
  .footer3-cont a {
    text-decoration: none;
    color: rgb(212, 199, 199);
  }
  
  .footer-copyright a {
    text-decoration: none;
    color: white;
  }
  
  .footer .icon-tags ,.icon-phone ,.icon-mail,.icon-location {
  
    color: #ffb100;
  }
  
  .footer .icon-facebook-f{
    position: relative;
    background: #3b5998;
    color: white;
    font-size: 30px;
    padding: 15px 15px 15px 15px;
    right: 20px;
    border-radius: 150px;
  
  }
  
  .footer  .icon-instagram2 {
    position: relative;
    color: white;
    font-size: 30px;
    background: linear-gradient(#405DE6,
    #5851DB,#833AB4,
    #C13584,#E1306C,#FD1D1D, #F56040,#F77737,#FCAF45,#FFDC80);
    padding: 15px 15px 15px 15px;
    right: 20px;
    border-radius: 150px;
    
  }
  
  .footer .icon-whatsapp2 {
    position: relative;
    color: white;
    font-size: 30px;
    background: #00bb2d;
    padding: 15px 15px 15px 15px;
    right: 20px;
    border-radius: 150px;
  
  }
  
  