<!DOCTYPE html>
<html lang="en, es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/Nosotros.css" />
  <link rel="stylesheet" href="../css/all.min.css">
  <link rel="stylesheet" href="../estilo.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="/img/iconoReal.ico">
  <title>Work Webside Services</title>

</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light badge-light  fixed-top" id="menu">
     <span><a href="/index.html"><img src="/img/ultimo.png" alt="" /></a></span> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">INICIO<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Servicios.html">SERVICIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Portafolio.html">PORTAFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Nosotros.html">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Contacto.html">CONTACTO</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

 <!-- Jumbotron -->
<div class="pon">
  <div class="jumbotron card-image">
 
   <div class=" text-white text-center rgba-stylish-strong py-5 px-4">
     <div class="py-5">
 
       <!-- Content -->
       <h5 class="h1 orange-text"><i class="icon-group"></i>Nosotros</h5>
      
 
     </div>
   </div>
   </div>
 </div>
 <!-- Jumbotron -->

<main class=" ">
  <div class="container   ">
<div class="container presentacion ">
    <!--Section: Blog v.3-->
    <section class="section extra-margins pb-3 text-center text-lg-left wow fadeIn " data-wow-delay="0.3s">

     

      <!--Grid row-->
      <div class="row">
 <!--Grid column-->
 <div class="texto-cont col-lg-3 mb-4">
  <!--Featured image-->
  <div class="view overlay z-depth-1 ">
    <p class="texto pb-1"><b> Quienes Somos</b></p>
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
</div>
<!--Grid column-->
        <!--Grid column-->
        <div class=" po col-lg-9 mb-3 container">
          <!--Excerpt-->
         <div class="container"> 
          <div> 
          <p class="u1 container pb-1"> <i class="m-2 fas icon-quote-left "></i>Somos una agencia joven e innovadora, capaces de distinguir las necesidades de los clientes y 
            establecer las mejores estrategias para impulsar sus proyectos. Nuestros productos y servicios son de alta calidad.
             Ofrecemos un trato personalizado a nuestros clientes. Nos encanta lo que hacemos por ello damos lo mejor en cada trabajo.    <i class="m-2 fas icon-quote-right"></i>   </p>
          <p  class="u1 container pb-1"><i class="m-2 fas icon-quote-left "></i>Somos profesionales, contamos una amplia experiencia ofreciendo soluciones de diseño gráfico,
             web, multimedia, gestión de redes sociales, publicidad, fotografía, aplicaciones móviles, programación
              de proyectos, marketing digital y más.
            Trabajamos de la mano con nuestros clientes, dándoles lo mejor de nosotros en cada momento, logrando los
             objetivos propuestos y brindándoles la mejor experiencia.<i class="m-2 fas icon-quote-right"></i></p>
        </div>
       

      </div>
      </div>
      <!--Grid row-->
      <nav class="wow fadeIn mb-4 mt-5" data-wow-delay="0.4s"
        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
      </nav>
      <!--/Pagination dark-->
    </div>
    </section>
  </div>
  </div>

</main>

<main class="bg-warning">
  <div class="container  ">
<div class="container presentacion">
    <!--Section: Blog v.3-->
    <section class="section extra-margins pb-3 text-center text-lg-left wow fadeIn" data-wow-delay="0.3s">

      <!--Grid row-->
      <div class="row">
 <!--Grid column-->
 <div class="col-lg-3 mb-4">
  <!--Featured image-->
  <div class="view overlay z-depth-1 ">
    <p class="texto1 pb-1 text-white"><b>Mision</b></p>
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
</div>
<!--Grid column-->
        <!--Grid column-->
        <div class="po col-lg-9 mb-5 container">
          <!--Excerpt-->
         <div class="container"> 
          <div> 
          <p class="u1 container pb-1"> <i class="m-2 fas icon-quote-left "></i> Somos una agencia joven e innovadora, capaces de distinguir las necesidades de los clientes y 
            establecer las mejores estrategias para impulsar sus proyectos. Nuestros productos y servicios son de alta calidad.
             Ofrecemos un trato personalizado a nuestros clientes. Nos encanta lo que hacemos por ello damos lo 
             mejor en cada trabajo.<i class="m-2 fas icon-quote-right"></i> </p>         
        </div>
       

      </div>
      </div>
      <!--Grid row-->
      <nav class="wow fadeIn mb-5 mt-5" data-wow-delay="0.4s"
        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
      </nav>
      <!--/Pagination dark-->
    </div>
    </section>
  </div>
  </div>

</main>

<main class="">
  <div class="container  ">
<div class="container presentacion">
    <!--Section: Blog v.3-->
    <section class="section extra-margins pb-3 text-center text-lg-left wow fadeIn " data-wow-delay="0.3s">

     

      <!--Grid row-->
      <div class="row">
 <!--Grid column-->
 <div class="col-lg-3 mb-4 ">
  <!--Featured image-->
  <div class="view overlay z-depth-1 ">
    <p class="texto1 pb-1 "><b>Vision </b></p>
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
</div>
<!--Grid column-->
        <!--Grid column-->
        <div class=" po col-lg-9 mb-3 container">
          <!--Excerpt-->
         <div class="container"> 
          <div> 
          <p class="u1 container pb-1"> <i class="m-2 fas icon-quote-left "></i> Somos una agencia joven e innovadora, capaces de distinguir las necesidades de los clientes y 
            establecer las mejores estrategias para impulsar sus proyectos. Nuestros productos y servicios son de alta calidad.
             Ofrecemos un trato personalizado a nuestros clientes. 
             Nos encanta lo que hacemos por ello damos lo mejor en cada trabajo.<i class="m-2 fas icon-quote-right"></i></p>
         
        </div>
       

      </div>
      </div>
      <!--Grid row-->
      <nav class="wow fadeIn mb-4 mt-5" data-wow-delay="0.4s"
        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
      </nav>
      <!--/Pagination dark-->
    </div>
    </section>
  </div>
  </div>

</main>

<main class="bg-warning">
  <div class="container  mb-0 ">
<div class="container presentacion">
    <!--Section: Blog v.3-->
    <section class="section extra-margins pb-3 text-center text-lg-left wow fadeIn" data-wow-delay="0.3s">

     

      <!--Grid row-->
      <div class="row">
 <!--Grid column-->
 <div class="col-lg-3 mb-4">
  <!--Featured image-->
  <div class="view overlay z-depth-1 ">
    <p class="texto1 pb-1 text-white"><b> Valores</b></p>
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
</div>
<!--Grid column-->
        <!--Grid column-->
        <div class="po col-lg-9 mb-5 container">
          <!--Excerpt-->
         <div class="container"> 
          <div> 
          <p class="u1 container pb-1">  <i class="m-2 fas icon-quote-left "></i>Somos una agencia joven e innovadora, capaces de distinguir las necesidades de los clientes y 
            establecer las mejores estrategias para impulsar sus proyectos. Nuestros productos y servicios son de alta calidad.
             Ofrecemos un trato personalizado a nuestros clientes. Nos encanta lo que hacemos por
              ello damos lo mejor en cada trabajo.<i class="m-2 fas icon-quote-right"></i> </p>
        </div>
      </div>
      </div>
      <!--Grid row-->
      <nav class="wow fadeIn mb-5 " data-wow-delay="0.4s"
        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
      </nav>
      <!--/Pagination dark-->
    </div>
    </section>
  </div>
  </div>

</main>

  <!-- Card -->
<div class="card card-cascade wider reverse">

    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img class="card-img-top" src="../img/team5-work.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center container">

      <!-- Title -->
      <h4 class="card-title"><strong>Nuestra Aventura</strong></h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2">Porque?</h6>
      <!-- Text -->
      <p class="card-text"> Por que para nosotros la satisfacción del cliente es nuestro mejor beneficio. Por ello, nuestra
        relación con los mismos no acaba al concluir el proyecto, ya que nos preocupamos de que “el después” siga siendo
        correcto, Siempre a su disposición y si es posible crecer juntos..
      </p>

      <!-- Twitter -->
      <a href="mailto:wandryoscar@gmail.com" target="_blank" class="px-2 fa-lg tw-ic"><i class=" icon-mail"></i></a>
      <!-- Linkedin -->
      <a href="https://www.instagram.com/yirethrentcar/" target="_blank" class="px-2 fa-lg li-ic"><i class=" icon-instagram"></i></a>
      <!-- Dribbble -->
      <a href="https://www.facebook.com/darling.cotespayano.5" target="_blank" class="px-2 fa-lg fb-ic"><i class="icon-facebook-f"></i></a>

    </div>

  </div>
  <!-- Card -->

<div class="Btn-bottom text-center ">
    <p>Entonces, ¿Porque no emprendes tu Porpio viaje con Nuestros Diseños? </p>
    <button type="button" class="btn  " data-toggle="button" aria-pressed="false" autocomplete="off" href="#">
      <a href="../Template/Contacto.html">!Ponte en Contacto!</a>


    </button>
  </div>

<!-- Footer -->
<footer class="page-footer font-small blue pt-5 bg-dark ">

  <!-- Footer Links -->
  <div class=" footer container-fluid text-center bg-dark text-md-left  ">

    <!-- Grid row -->
    <div class="asd row bg-dark">

      <!-- Grid column -->
      <div class=" footer1 col-md-6 mt-md-3 mt-0 ">

        <!-- Content -->
        <div class=" footer1-cont col-md-6  container-fluid ">
          <span><a href="../index.html"><img src="../img/007.png " alt="" class="card-img" /></a></span> 
          <p>Somos una agencia joven e innovadora, capaces de distinguir las necesidades de los clientes y establecer las mejores estrategias para impulsar sus proyectos.</p>
            <p> Nos encanta lo que hacemos por ello damos lo mejor en cada trabajo.</p>
        </div>
       

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class=" footer2 col-md-3 mb-md-0 mb-3  ">

        <!-- Links -->
        <h5 class="text-uppercase">Contactos</h5>

        <ul class=" footer2-cont list-unstyled">
          <li>
            <i class="icon-phone"></i>
            <a href="#!">829-522-9600</a>
          </li>
          <li>
            <i class="icon-mail"></i>
            <a href="#!">wandryoscar@gmail.com</a>
          </li>
          <li>
            <i class="icon-location"></i>
            <a href="#!">Av. Manuela Dies Jiminez, <br> Ginanadiana c/ #15 c/#7</a>
          </li>
         
        </ul>
           <a class="btn-floating btn-lg btn-fb" href="https://www.google.com.do"  ><i class="fab icon-facebook-f"></i></a>
        <a class="btn-floating btn-lg btn-fb" href="https://www.google.com.do" ><i class="fab icon-instagram2"></i></a>
        <a class="btn-floating btn-lg btn-fb" href="https://www.google.com.do"><i class="fab icon-whatsapp2"></i></a>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="footer3 col-md-3 mb-md-0 mb-3 ">

        <!-- Links -->
        <h5 class="text-uppercase">Noticias Recientes</h5>

        <ul class=" footer3-cont list-unstyled">
          <li>
            <i class="icon-tags"></i>
            <a href="#!">Cómo hacer que tu empresa sobreviva ante el coronavirus</a>
          </li>
          <li>
            <i class="icon-tags"></i>
            <a href="#!">Marketing para Colegios</a>
          </li>
          <li>
            <i class="icon-tags"></i>
            <a href="#!">¿Por qué vale la pena ser programador?</a>
          </li>
          <li>
            <i class="icon-tags"></i>
            <a href="#!">El arte digital y sus infinitas posibilidades</a>
          </li>
          <li>
            <i class="icon-tags"></i>
            <a href="#!">Phishing: ¿qué es y cómo evitarlo?</a>
         
          </li>
         
        </ul>
        
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center  py-3">© 2020 Copyright:
    <a href="#"> Todos los derechos reservados</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->








<script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap.js"></script>
  <script src="../js/cambiocolor.js"></script>

</body>

</html>