<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/Portafolio.css" />
  <link rel="stylesheet" href="../css/all.min.css" />
  <link rel="stylesheet" href="../estilo.css" />
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="icon" href="/img/iconoReal.ico">
  <title>Work Webside Services</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light badge-light fixed-top" id="menu">
      <span><a href="../index.html"><img src="../img/ultimo.png" alt="" /></a></span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">INICIO<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Servicios.html">SERVICIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Portafolio.html">PORTAFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Nosotros.html">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Contacto.html">CONTACTO</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Jumbotron -->
  <div class="pon " >
    <div class="jumbotron card-image  ">
      <div class="photo1 text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="photo py-5 ">
          <!-- Content -->
          <h5 class="h1 orange-text">
            <i class="icon-folder-open1"></i>Portafolio
          </h5>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->

  <section class="dolar card-group container-fluid">
    <!-- Card group -->
    <div class="card-group">
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 1-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 2-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 3-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 4-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 5-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
    </div>
    <!-- Card group -->
    <div class="card-group">
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 6-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 7-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 8-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 10-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 10-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
    </div>
    <!-- Card group -->
    <div class="card-group">
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 11-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 12-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 13-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 14-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 15-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
    </div>
    <!-- Card group -->
    <div class="card-group">
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 16-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 17-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 18-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 19-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 20-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
    </div>
    <!-- Card group -->
    <div class="card-group">
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 21-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 22-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 23-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 24-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 25-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
    </div>
    <!-- Card group -->
    <div class="card-group">
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 26-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 27-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 28-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 29-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
      <!-- Card -->
      <div class="card mb-1 mr-1">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 30-100.jpg" alt="Card image cap" />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->
    </div>

    <div class="card-group collapse" id="collapseExample">
      <div class="card-group">
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 31-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 32-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 33-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 34-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 35-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
      </div>

      <div class="card-group">
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 36-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 37-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 38-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 39-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 40-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
      </div>
    </div>

    <div class="card-group collapse" id="collapseExample">
      <div class="card-group">
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 41-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 42-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 43-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 44-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 61-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
      </div>

      <div class="card-group">
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 62-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 47-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 48-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 49-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 50-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
      </div>
    </div>

    <div class="card-group collapse" id="collapseExample">
      <div class="card-group">
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 51-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 52-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 53-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 54-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 55-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
      </div>

      <div class="card-group">
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 56-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 57-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 58-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 59-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card mb-1 mr-1">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../img/Imgenes de mi negocio/Recurso 60-100.jpg" alt="Card image cap" />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Card -->
      </div>
    </div>
  </section>

  <div class="container">
    <p class="pacific container">
      <a class="btn container-fluid" href="#collapseExample" data-toggle="collapse" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Mostrar Mas
      </a>
      
    </p>
  </div>

  <!-- Footer -->
  <footer class="page-footer font-small blue pt-5 bg-dark">
    <!-- Footer Links -->
    <div class="footer container-fluid text-center bg-dark text-md-left">
      <!-- Grid row -->
      <div class="asd row bg-dark">
        <!-- Grid column -->
        <div class="footer1 col-md-6 mt-md-3 mt-0">
          <!-- Content -->
          <div class="footer1-cont col-md-6 container-fluid">
            <span><a href="../index.html"><img src="../img/007.png " alt="" class="card-img" /></a></span>
            <p>
              Somos una agencia joven e innovadora, capaces de distinguir las
              necesidades de los clientes y establecer las mejores estrategias
              para impulsar sus proyectos.
            </p>
            <p>
              Nos encanta lo que hacemos por ello damos lo mejor en cada
              trabajo.
            </p>
          </div>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3" />

        <!-- Grid column -->
        <div class="footer2 col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Contactos</h5>

          <ul class="footer2-cont list-unstyled">
            <li>
              <i class="icon-phone"></i>
              <a href="#!">829-522-9600</a>
            </li>
            <li>
              <i class="icon-mail"></i>
              <a href="#!">wandryoscar@gmail.com</a>
            </li>
            <li>
              <i class="icon-location"></i>
              <a href="#!">Av. Manuela Dies Jiminez, <br />
                Ginanadiana c/ #15 c/#7</a>
            </li>
          </ul>
        <a class="btn-floating btn-lg btn-fb" href="https://www.google.com.do"  ><i class="fab icon-facebook-f"></i></a>
        <a class="btn-floating btn-lg btn-fb" href="https://www.google.com.do" ><i class="fab icon-instagram2"></i></a>
        <a class="btn-floating btn-lg btn-fb" href="https://www.google.com.do"><i class="fab icon-whatsapp2"></i></a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="footer3 col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Noticias Recientes</h5>

          <ul class="footer3-cont list-unstyled">
            <li>
              <i class="icon-tags"></i>
              <a href="#!">Cómo hacer que tu empresa sobreviva ante el coronavirus</a>
            </li>
            <li>
              <i class="icon-tags"></i>
              <a href="#!">Marketing para Colegios</a>
            </li>
            <li>
              <i class="icon-tags"></i>
              <a href="#!">¿Por qué vale la pena ser programador?</a>
            </li>
            <li>
              <i class="icon-tags"></i>
              <a href="#!">El arte digital y sus infinitas posibilidades</a>
            </li>
            <li>
              <i class="icon-tags"></i>
              <a href="#!">Phishing: ¿qué es y cómo evitarlo?</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      © 2020 Copyright:
      <a href="#"> Todos los derechos reservados</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  <script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/bootstrap.js"></script>
  <script src="../js/cambiocolor.js"></script>
  <script src="../js/jquery.min.js"></script>
</body>

</html>
