<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/Servicios.css" />
  <link rel="stylesheet" href="../css/all.min.css">
  <link rel="stylesheet" href="../estilo.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="/img/iconoReal.ico">
  <title>Web Wibe Services</title>

</head>

<body>
  
<!-- Header -->
 <header>
    <nav class="navbar navbar-expand-lg navbar-light badge-light  fixed-top" id="menu">
     <span><a href="../index.html"><img src="../img/ultimo.png" alt="" /></a></span> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">INICIO<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Servicios.html">SERVICIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Portafolio.html">PORTAFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Nosotros.html">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Contacto.html">CONTACTO</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
<!-- Header -->
 

 <!-- Jumbotron -->
 <div class="pon">
 <div class="jumbotron card-image">

  <div class=" text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h1 orange-text"><i class="icon-user"></i>Servicios</h5>
     

    </div>
  </div>
  </div>
</div>
<!-- Jumbotron -->




<div class="Iconos container ">
<div class="row row-cols-1 row-cols-md-3">
 
<div class=" po col-lg-4 mb-5 container ">
    <!--Excerpt-->
    <div class="toto container "> 
      <i class=" icon-display "></i>
      <div class="container-fluid col-md-13">
      <p class="pb-12">Diseño Web</p>
    <p class="u2 container pb-1">Somos una agencia especializada en el diseño, creación y
       mantenimiento de sitios web a la medida de su necesidad..
    </p>
  </div>
  </div>

  <div class="toto container "> 
    <i class=" icon-pencil1"></i>
    <div class="container-fluid col-md-13">
    <p class="pb-12">Diseño Grafico</p>
  <p class="u2 container pb-1">Creamos todo tipo de diseños, tales como: logos, flyers, tarjetas de presentación,
     diseño corporativo, folletos, carteles, publicidad, ilustración y más..
     
  </p>
</div>
</div>

<div class="toto container "> 
  <i class=" icon-camera1 "></i>
  <div class="container-fluid col-md-13">
  <p class="pb-12">Fotografia</p>
<p class="u2 container pb-1">Ofrecemos servicios de fotografía profesional
   para cualquier tipo de ocasión o evento, con impresiones de alta calidad y enmarcados, dandoles el mejor servicio.
</p>
</div>
</div>

<div class="toto container "> 
  <i class=" icon-bar-chart "></i>
  <div class="container-fluid col-md-13">
  <p class="pb-12">Marketing</p>
<p class="u2 container pb-1">Desarrollamos cualquier tipo de campaña adaptadas a cualquier soporte.
   Diseñamos y gestionamos campañas en medios online, también campañas de email marketing, entre otras.
</p>
</div>
</div>

</div>

<div class=" po col-lg-4 mb-5 container">
  <!--Excerpt-->
  <div class="toto container "> 
    <i class=" icon-mobile "></i>
    <div class="container-fluid col-md-13">
    <p class="pb-12">Aplicaciones Mobiles</p>
  <p class="u2 container pb-1">Desarrollo de aplicaciones móviles,
     diseñadas específicamente para las necesidades de su empresa o negocio.
  </p>
</div>
</div>

<div class="toto container "> 
  <i class=" icon-copyright "></i>
  <div class="container-fluid col-md-13">
  <p class="pb-12">Identidad Coorporativa</p>
<p class="u2 container pb-1">Nos encargamos de que cada uno de nuestros clientes
   tenga su empresa identificadas, por ello desarrollamos todo tipo de elementos identificativos.
</p>
</div>
</div>

<div class="toto container "> 
<i class=" icon-medal "></i>
<div class="container-fluid col-md-13">
<p class="pb-12">Posicionamiento</p>
<p class="u2 container pb-1">Optimización de páginas web y obtener mayor tráfico, 
  estar en las primeras posiciones de los buscadores como son Google, Bing, Yahoo…
</p>
</div>
</div>

<div class="toto container "> 
<i class=" icon-file-text1 "></i>
<div class="container-fluid col-md-13">
<p class="pb-12">Impresos</p>
<p class="u2 container pb-1">Le damos el mejor acabado de terminación al trabajo para una entrega satisfactoria, 
  desde impresión de flyers,
   banners, tarjetas de presentación, menús, y todo lo que necesites.
</p>
</div>
</div>

</div>

<div class=" po col-lg-4 mb-5 container ">
  <!--Excerpt-->
  <div class="toto container "> 
    <i class=" icon-group "></i>
    <div class="container-fluid col-md-13">
    <p class="pb-12">Redes Sociales</p>
  <p class="u2 container pb-1">Gestión de redes sociales aumentando seguidores
     y/o ventas, logrando así el cumplimiento de los objetivos.
  </p>
</div>
</div>

<div class="toto container "> 
  <i class=" icon-dollar "></i>
  <div class="container-fluid col-md-13">
  <p class="pb-12">Consultoria</p>
<p class="u2 container pb-1">Lo mas importante para nosotros son nuestros clientes por eso les brindamos
   un servicio de consultoría y asesoramiento para su empresa, proyecto o negocio.
</p>
</div>
</div>

<div class="toto container "> 
<i class=" icon-microphone "></i>
<div class="container-fluid col-md-13">
<p class="pb-12">Locucion</p>
<p class="u2 container pb-1">Locuciones profesionales para spots de radio,
   tv, conmutadores, videos institucionales y una amplia gama de servicios.
</p>
</div>
</div>

<div class="toto container "> 
<i class=" icon-video-camera1 "></i>
<div class="container-fluid col-md-13">
<p class="pb-12">Filmacion de Videos</p>
<p class="u2 container pb-1">Ofrecemos servicios de filmación y edición de videos para bodas, viajes, eventos especiales,
   cortometrajes, documentales, comerciales, vídeos musicales, y cualquier otro tipo de material audiovisual.
</p>
</div>
</div>
</div>
</div>
</div>






<section class="slide" >
  <!--Carousel Wrapper-->
 <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
 
   <!--Controls-->
   <div class="container">
   <div class="controls-top container ">
     <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas icon-chevron-left"></i></a>
     <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
         class="fas icon-chevron-right"></i></a>
   </div>
   </div>
   <!--/.Controls-->
 
   <!--Indicators-->
   
   <!--/.Indicators-->
   <div class="container">
   <!--Slides-->
   <div class="carousel-inner" role="listbox">
 
     <!--First slide-->
     <div class="carousel-item active">
 <div class="row">
 <!--carta-->
 <div class=" cardo card mb-3" style="max-width: 100%;">
   <div class="row no-gutters">
     <div class=" imagen col-md-6">
       <img src="../img/diseno-web-en-santo-domingo.svg" class="card-img" alt="...">
     </div>
     <div class="cardo-cont container col-md-6">
       <div class="popeye card-body">
         <h5 class="card-titulo">Diseño para Website Basica</h5>
         <p class="Pre"><b>RD$ 19,995.00</b> </p>
         <hr class="linea">
         <div class="cardo-car row row-cols-1 row-cols-md-1">
           <div class="col mb-0">
             <div class="card">
               <div class="card-bod">
                 <!-- <i class="icon-check"></i> -->
                 <p class="card-title">Funcionalidades/Secciones: <span>3</span></p>
                <!-- <p class="card-text">Ofrecemos atención al cliente 24h/7 los 365 días del año.</p> -->
               </div>
             </div>
           </div>
           <div class="col mb-0 ">
             <div class="card">
               <div class="card-bod">
                <!--  <i class="icon-check-square"></i> -->
                 <p class="card-title">Email Corporativo: <span>1</span></p>
               <!---  <p class="card-text">Si no estas satisfecho, te lo cambiamos.</p> -->
               </div>
             </div>
           </div>
           <div class="col mb-0">
             <div class="card">
               <div class="card-bod">
                <!--  <i class="icon-hand-paper-o"></i> -->
                 <p class="card-title">Idioma: <span>Español</span></p>
             <!---<p class="card-text">Nos motiva el proyecto, nos comprometemos para alcanzar el resultado.</p> -->
               </div>
             </div>
           </div>
           <div class="col mb-0">
             <div class="card">
               <div class="card-bod">
                 <!-- <i class="icon-money"></i> -->
                 <p class="card-title">Hosting: <span>5gb</span></p>
               <!---  <p class="card-text">Tenemos precios muy competitivos y realizamos presupuestos ajustados a sus necesidades.  </p> -->
               </div>
             </div>
           </div>
           <div class="col mb-0">
            <div class="card">
              <div class="card-bod">
                <!-- <i class="icon-money"></i> -->
                <p class="card-title">Minube: <span>20gb</span></p>
              <!---  <p class="card-text">Tenemos precios muy competitivos y realizamos presupuestos ajustados a sus necesidades.  </p> -->
              </div>
            </div>
          </div>
          <div class="col mb-0">
            <div class="card">
              <div class="card-bod">
                <!-- <i class="icon-money"></i> -->
                <p class="card-title">Respaldos: <span>Mensuales</span></p>
              <!---  <p class="card-text">Tenemos precios muy competitivos y realizamos presupuestos ajustados a sus necesidades.  </p> -->
              </div>
            </div>
          </div>
          <div class="col mb-0">
            <div class="card">
              <div class="card-bod">
                <!-- <i class="icon-money"></i> -->
                <p class="card-title">Administrador: <span>1</span></p>
              <!---  <p class="card-text">Tenemos precios muy competitivos y realizamos presupuestos ajustados a sus necesidades.  </p> -->
              </div>
            </div>
          </div>
          <div class="col mb-0">
            <div class="card">
              <div class="card-bod">
                <!-- <i class="icon-money"></i> -->
                <p class="card-title">Seguridad, Soporte y Mantenimiento: <span>Si</span></p>
              <!---  <p class="card-text">Tenemos precios muy competitivos y realizamos presupuestos ajustados a sus necesidades.  </p> -->
              </div>
            </div>
          </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!--carta-->
 
     </div>
     </div>
     <!--/.First slide-->
 
     <!--Second slide-->
     <div class="carousel-item">
       <div class="row">
     <!--carta-->
 <div class=" cardo card mb-3" style="max-width: 100%;">
   <div class="row no-gutters">
     <div class=" imagen col-md-6">
       <img src="../img/diseno-web-en-santo-domingo.svg" class="card-img" alt="...">
     </div>
     <div class="cardo-cont container col-md-6">
      <div class="popeye card-body">
        <h5 class="card-titulo">Diseño Web Full / SemiProfesional</h5>
        <p class="Pre"><b>RD$ 24,995.00</b> </p>
        <hr class="linea">
        <div class="cardo-car row row-cols-1 row-cols-md-1">
          <div class="col mb-0">
            <div class="card">
              <div class="card-bod">
                <!-- <i class="icon-check"></i> -->
                <p class="card-title">Funcionalidades/Secciones: <span>7</span></p>
               <!-- <p class="card-text">Ofrecemos atención al cliente 24h/7 los 365 días del año.</p> -->
              </div>
            </div>
          </div>
          <div class="col mb-0 ">
            <div class="card">
              <div class="card-bod">
               <!--  <i class="icon-check-square"></i> -->
                <p class="card-title">Email Corporativo: <span>3</span></p>
              <!---  <p class="card-text">Si no estas satisfecho, te lo cambiamos.</p> -->
              </div>
            </div>
          </div>
          <div class="col mb-0">
            <div class="card">
              <div class="card-bod">
               <!--  <i class="icon-hand-paper-o"></i> -->
                <p class="card-title">Idioma: <span>Español/Ingles</span></p>
            <!---<p class="card-text">Nos motiva el proyecto, nos comprometemos para alcanzar el resultado.</p> -->
              </div>
            </div>
          </div>
          <div class="col mb-0">
            <div class="card">
              <div class="card-bod">
                <!-- <i class="icon-money"></i> -->
                <p class="card-title">Hosting: <span>10gb</span></p>
              <!---  <p class="card-text">Tenemos precios muy competitivos y realizamos presupuestos ajustados a sus necesidades.  </p> -->
              </div>
            </div>
          </div>
          <div class="col mb-0">
           <div class="card">
             <div class="card-bod">
               <!-- <i class="icon-money"></i> -->
               <p class="card-title">Minube: <span>45gb</span></p>
             <!---  <p class="card-text">Tenemos precios muy competitivos y realizamos presupuestos ajustados a sus necesidades.  </p> -->
             </div>
           </div>
         </div>
         <div class="col mb-0">
           <div class="card">
             <div class="card-bod">
               <!-- <i class="icon-money"></i> -->
               <p class="card-title">Respaldos: <span>Semanales</span></p>
             <!---  <p class="card-text">Tenemos precios muy competitivos y realizamos presupuestos ajustados a sus necesidades.  </p> -->
             </div>
           </div>
         </div>
         <div class="col mb-0">
           <div class="card">
             <div class="card-bod">
               <!-- <i class="icon-money"></i> -->
               <p class="card-title">Administrador: <span>3</span></p>
             <!---  <p class="card-text">Tenemos precios muy competitivos y realizamos presupuestos ajustados a sus necesidades.  </p> -->
             </div>
           </div>
         </div>
         <div class="col mb-0">
           <div class="card">
             <div class="card-bod">
               <!-- <i class="icon-money"></i> -->
               <p class="card-title">Seguridad, Soporte y Mantenimiento: <span>Si</span></p>
             <!---  <p class="card-text">Tenemos precios muy competitivos y realizamos presupuestos ajustados a sus necesidades.  </p> -->
             </div>
           </div>
         </div>
        </div>
      </div>
    </div>
   </div>
 </div>
 <!--carta-->
     </div>
     
     </div>
     <!--/.Second slide-->
 
     <!--Third slide-->
     <div class="carousel-item">
       <div class="row">
     <!--carta-->
 <div class=" cardo card mb-3" style="max-width: 100%;">
   <div class="row no-gutters">
     <div class=" imagen col-md-6">
       <img src="../img/diseno-web-en-santo-domingo.svg" class="card-img" alt="...">
     </div>
     <div class="cardo-cont container col-md-6">
      <div class="popeye card-body">
        <h5 class="card-titulo">Diseño Web Tienda / Profesional</h5>
        <p class="Pre"><b>RD$ 34,995.00</b> </p>
        <hr class="linea">
        <div class="cardo-car row row-cols-1 row-cols-md-1">
          <div class="col mb-0">
            <div class="card">
              <div class="card-bod">
                <!-- <i class="icon-check"></i> -->
                <p class="card-title">Funcionalidades/Secciones: <span>10</span></p>
               <!-- <p class="card-text">Ofrecemos atención al cliente 24h/7 los 365 días del año.</p> -->
              </div>
            </div>
          </div>
          <div class="col mb-0 ">
            <div class="card">
              <div class="card-bod">
               <!--  <i class="icon-check-square"></i> -->
                <p class="card-title">Email Corporativo: <span>5</span></p>
              <!---  <p class="card-text">Si no estas satisfecho, te lo cambiamos.</p> -->
              </div>
            </div>
          </div>
          <div class="col mb-0">
            <div class="card">
              <div class="card-bod">
               <!--  <i class="icon-hand-paper-o"></i> -->
                <p class="card-title">Idioma: <span>Español/Ingles</span></p>
            <!---<p class="card-text">Nos motiva el proyecto, nos comprometemos para alcanzar el resultado.</p> -->
              </div>
            </div>
          </div>
          <div class="col mb-0">
            <div class="card">
              <div class="card-bod">
                <!-- <i class="icon-money"></i> -->
                <p class="card-title">Hosting: <span>15gb</span></p>
              <!---  <p class="card-text">Tenemos precios muy competitivos y realizamos presupuestos ajustados a sus necesidades.  </p> -->
              </div>
            </div>
          </div>
          <div class="col mb-0">
           <div class="card">
             <div class="card-bod">
               <!-- <i class="icon-money"></i> -->
               <p class="card-title">Minube: <span>90gb</span></p>
             <!---  <p class="card-text">Tenemos precios muy competitivos y realizamos presupuestos ajustados a sus necesidades.  </p> -->
             </div>
           </div>
         </div>
         <div class="col mb-0">
           <div class="card">
             <div class="card-bod">
               <!-- <i class="icon-money"></i> -->
               <p class="card-title">Respaldos: <span>Diarios</span></p>
             <!---  <p class="card-text">Tenemos precios muy competitivos y realizamos presupuestos ajustados a sus necesidades.  </p> -->
             </div>
           </div>
         </div>
         <div class="col mb-0">
           <div class="card">
             <div class="card-bod">
               <!-- <i class="icon-money"></i> -->
               <p class="card-title">Administrador: <span>5</span></p>
             <!---  <p class="card-text">Tenemos precios muy competitivos y realizamos presupuestos ajustados a sus necesidades.  </p> -->
             </div>
           </div>
         </div>
         <div class="col mb-0">
           <div class="card">
             <div class="card-bod">
               <!-- <i class="icon-money"></i> -->
               <p class="card-title">Seguridad, Soporte y Mantenimiento: <span>Si</span></p>
             <!---  <p class="card-text">Tenemos precios muy competitivos y realizamos presupuestos ajustados a sus necesidades.  </p> -->
             </div>
           </div>
         </div>
        </div>
      </div>
    </div>
   </div>
 </div>
 <!--carta-->
     </div>
     
     </div>
     <!--/.Third slide-->
 
   </div>
   <!--/.Slides-->
 </div>
 <div class="direcciones container">
 <ol class="carousel-indicators  mb-1">
   <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
   <li data-target="#multi-item-example" data-slide-to="1"></li>
   <li data-target="#multi-item-example " data-slide-to="2"></li>
 </ol>
 </div>
 </div>
 <!--/.Carousel Wrapper-->
 
 
 
 </section>


 <!-- Jumbotron -->
 <div class="pon2">
  <div class="jumbotron2 card-image">
 
   <div class=" text-white text-center rgba-stylish-strong py-5 px-4">
     <div class="py-5 px-4">
      
       <!-- Content -->
       <h5 class="h1 text-white orange-text card-title h5-responsive pt-3 mb-5 font-bold"> Contactanos ahora por el  <a href=""> 1+ 829-522-9600 </a> <br> o via correo
        electronico  <a href=""> <br> wandryoscar@gmail.com </a>
      </h5>

    
      
     </div>  
     <p><a href="../Template/Contacto.html" class="p   mb-4"><i>Contactanos</i> </a></p>  
   </div>  
   </div> 
 </div>
 <!-- Jumbotron -->


<!-- Footer -->
<footer class="page-footer font-small blue pt-5 bg-dark ">

  <!-- Footer Links -->
  <div class=" footer container-fluid text-center bg-dark text-md-left  ">

    <!-- Grid row -->
    <div class="asd row bg-dark">

      <!-- Grid column -->
      <div class=" footer1 col-md-6 mt-md-3 mt-0 ">

        <!-- Content -->
        <div class=" footer1-cont col-md-6  container-fluid ">
          <span><a href="../index.html"><img src="../img/007.png " alt="" class="card-img" /></a></span> 
          <p>Somos una agencia joven e innovadora, capaces de distinguir las necesidades de los clientes y establecer las mejores estrategias para impulsar sus proyectos.</p>
            <p> Nos encanta lo que hacemos por ello damos lo mejor en cada trabajo.</p>
        </div>
       

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class=" footer2 col-md-3 mb-md-0 mb-3  ">

        <!-- Links -->
        <h5 class="text-uppercase">Contactos</h5>

        <ul class=" footer2-cont list-unstyled">
          <li>
            <i class="icon-phone"></i>
            <a href="#!">829-522-9600</a>
          </li>
          <li>
            <i class="icon-mail"></i>
            <a href="#!">wandryoscar@gmail.com</a>
          </li>
          <li>
            <i class="icon-location"></i>
            <a href="#!">Av. Manuela Dies Jiminez, <br> Ginanadiana c/ #15 c/#7</a>
          </li>
         
        </ul>
                <a class="btn-floating btn-lg btn-fb" href="https://www.google.com.do"  ><i class="fab icon-facebook-f"></i></a>
        <a class="btn-floating btn-lg btn-fb" href="https://www.google.com.do" ><i class="fab icon-instagram2"></i></a>
        <a class="btn-floating btn-lg btn-fb" href="https://www.google.com.do"><i class="fab icon-whatsapp2"></i></a>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="footer3 col-md-3 mb-md-0 mb-3 ">

        <!-- Links -->
        <h5 class="text-uppercase">Noticias Recientes</h5>

        <ul class=" footer3-cont list-unstyled">
          <li>
            <i class="icon-tags"></i>
            <a href="#!">Cómo hacer que tu empresa sobreviva ante el coronavirus</a>
          </li>
          <li>
            <i class="icon-tags"></i>
            <a href="#!">Marketing para Colegios</a>
          </li>
          <li>
            <i class="icon-tags"></i>
            <a href="#!">¿Por qué vale la pena ser programador?</a>
          </li>
          <li>
            <i class="icon-tags"></i>
            <a href="#!">El arte digital y sus infinitas posibilidades</a>
          </li>
          <li>
            <i class="icon-tags"></i>
            <a href="#!">Phishing: ¿qué es y cómo evitarlo?</a>
         
          </li>
         
        </ul>
        
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center  py-3">© 2020 Copyright:
    <a href="#"> Todos los derechos reservados</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



 
  <script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap.js"></script>
  <script src="../js/cambiocolor.js"></script>
  

</body>

</html>